
CircusTreinFinalProj/.vs/CircusTreinFinalProj/v16/.suo
CircusTreinFinalProj/CircusTreinFinalProj/obj/Debug/netcoreapp3.1/CircusTreinFinalProj.csprojAssemblyReference.cache
CircusTreinFinalProj/.vs/CircusTreinFinalProj/v16/.suo
CircusTreinFinalProj/.vs/CircusTreinFinalProj/v16/.suo
CircusTreinFinalProj/CircusTreinFinalProj/bin/Debug/netcoreapp3.1/CircusTreinFinalProj.dll
CircusTreinFinalProj/CircusTreinFinalProj/bin/Debug/netcoreapp3.1/CircusTreinFinalProj.pdb
CircusTreinFinalProj/CircusTreinFinalProj/obj/Debug/netcoreapp3.1/CircusTreinFinalProj.csprojAssemblyReference.cache
CircusTreinFinalProj/CircusTreinFinalProj/obj/Debug/netcoreapp3.1/CircusTreinFinalProj.dll
CircusTreinFinalProj/CircusTreinFinalProj/obj/Debug/netcoreapp3.1/CircusTreinFinalProj.pdb
CircusTreinFinalProj/CircusTreinFinalProjTests/obj/Debug/netcoreapp3.1/CircusTreinFinalProj_UnitTests.assets.cache
CircusTreinFinalProj/CircusTreinFinalProjTests/obj/Debug/netcoreapp3.1/CircusTreinFinalProj_UnitTests.csprojAssemblyReference.cache
